<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='category_styles.css') }}">
</head>

<body>
    <div class = 'head-bar'>
				 SRCM Bookstore
				<div class = 'logout-div' >
					<form action = '{{url_for('gdisconnect')}}' >
						<input class = 'logout-input' type = 'submit' value = 'Logout' name = 'logout-button'>
					</form>
		    	</div>
    </div>

	<div class = 'pane edit-pane'>
	<form action="{{ url_for('newItem') }}" method = 'post'>
		<div class = 'page-title'>Add New Item</div>
        <div class ='edit-item-header'>Title</div>
        <div class='edit-item-value' ><input class='edit-input-value' type='text' name='title'></div>

		<div class ='edit-item-header'>Description</div>
		<div class='edit-item-value' ><input class='edit-input-value' type='text' name ='description' ></div>

        <div class ='edit-item-header'>SKU</div>
		<div class='edit-item-value' ><input class='edit-input-value' type='text' name ='sku' ></div>

		<div class ='edit-item-header'>Category</div>
		<div class='edit-item-value' >
			<select class='edit-input-value' name='category'>
                {% for c in categories %}
					<div> <option value='{{c.id}}'>{{c.name}}</option> </div>
				{% endfor %}
			</select>
		</div>

		<div class='edit-item-value' ><input class='edit-submit-button' type='submit' value='Submit'></div>
	</form>
	    <a href = '{{url_for('showCategory')}}'> Cancel </a>
    </div>

</body>
</html>